body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 3%;
    text-align: center;
    position: relative;
}

.container {
    display: flex;
}

.sidebar {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
}

.content {
    flex: 4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results {
    align-items: center;
}

.button {
    display: block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}

h1 {
    color: #333;
    text-align: center;
}

.query-message {
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.h1-message {
    font-size: 24px;
    color: #333;
}


.button2 {
    background-color: #ffffff;
    position: absolute;
    border: none;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.button2:hover {
    background-color: #a39a9a;
}

.button3-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button3 {
    float: right;
    background-color: #333;
    color: white;
    position: absolute;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.button3:hover {
    background-color: #555;
}

.left-aligned {
    float: left;
    font-weight: bold;
}

.right-aligned {
    float: right;
    font-weight: bold;
}
